* {
    box-sizing: border-box;
}
body {
    font-weight: bold;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav a {
    text-decoration: none;
    color: rgb(9, 41, 129);
    display: block;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
}
.nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: fixed;
}
.nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav > ul > li > a {
    background: rgb(211, 211, 211);
    border-radius: 20px;
    margin: 1px;
    box-shadow: 0 3px 5px 0 black;
}
li > img {
    border-radius: 50%;
    width: 100%;
}
h2 {
    color: darkblue;
}
div1 {
    float: left;
    width: 100%;
}
.nav > ul > li > a:hover {
    background: darkblue;
    color: aqua;
}
.nav li {
    float: left;
    width: 25%;
    text-align: center;
}
li {
    list-style-type: none;
}